@import '../../variables.scss';

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    main {
        height: 497px;
        width: 320px;
        display: flex;
        flex-direction: column;
        background-color: $White;
        border-radius: 20px;
        box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);

        figure {
            margin: 1rem 1rem 1.5rem 1rem;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        section {
            display: flex;
            flex-flow: column nowrap;
            gap: 1rem;
            align-items: center;
            font-family: $font;

            h1 {
                text-align: center;
                width: 18rem;
                font-size: 1.375rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                color: $Dark-blue;
            }

            p {
                text-align: center;
                width: 16rem;
                text-align: center;
                font-size: 0.9375rem;
                font-style: normal;
                color: $Grayish-blue;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.01175rem;
            }
        }
    }
}