@import 'variables.scss';

html, h1, figure, figcaption, p{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	margin: 0px;
    box-sizing: border-box;
    font-family: $font;
    background-color: $Light-gray;
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}